@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Concert+One&display=swap');

[data-theme='light'] {
  --title-font: "Acme", sans-serif;
  --text-font: "Inter", sans-serif;
  --color1: #fff;
  --backgroundApp: #f4f4f4;
  --colorPortafolioBtn: #0BB89E;
}

[data-theme='dark'] {
  --title-font: "Acme", sans-serif;
  --text-font: "Inter", sans-serif;
}

/*APP*/
.main-container{
  display: flex;
  flex-direction: column;
  background-color: var(--backgroundApp);
  width: 100%;
  min-height: 100vh;
}


/*CABECERA*/
.header-container{
  display: flex;
  background-color: var(--color1);
  width: 100%;
  height: 60px;
}

.lista-cabecera{
  display: flex;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.elemento-cabecera{
  padding: 40px;
  font-family: var(--text-font);
  font-size: 1.2em;
}

.nombre-cabecera{
  padding-right: 70px;
  font-family: var(--title-font);
  font-size: 2em;
}

.boton-cabecera{
  padding-left: 70px;
  font-family: var(--title-font);
  font-size: 2em;
}

/*BIO*/
.bio-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.perfil{
  padding-top: 2em;
  padding-bottom: 6em;
  font-family: var(--title-font);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.perfil > h1{
  font-size: xx-large;
}

.perfil > h2{
  font-size: x-large;
}

.trabajo{
  display: flex;
  flex-direction: column;
  font-family: var(--text-font);
  text-indent: 30px;
  font-size: large;
  padding-bottom: 4em;
}

.trabajo > p{
  padding-bottom: 3em;
}

.botonPortafolio{
  margin-top: 4em;
  text-align: center;
  font-family: var(--text-font);
}

.botonPortafolio > button{
  width: 180px;
  height: 60px;
  border-radius: .5em;
  background-color: var(--colorPortafolioBtn);
  color: var(--color1);
}

img{
  width: 50px;
  height: 50px;
  border-radius: 5em;
}

/*FOOTER*/
.footer-container{
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: var(--title-font);
}

/*PROYECTOS*/
.proyectos-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.titulo-proyectos{
  font-family: var(--title-font);
  font-size: xx-large; 
  padding-top: 1em;
}

.grid-proyectos {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 24px;
  width: 100%;
  padding: 3em;
}

.tarjeta-proyecto > h2{
  font-family: var(--title-font);
}

.botonVerMas{
  margin-top: 2em;
  text-align: center;
  font-family: var(--text-font);
}

.botonVerMas > button{
  width: 100px;
  height: 40px;
  border-radius: .5em;
  background-color: var(--colorPortafolioBtn);
  color: var(--color1);
}